name: CI-CD-Pipeline
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Build & Deploy to ECS Fargate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          docker build -t fargate-ecr .
          docker tag fargate-ecr:latest 320866336076.dkr.ecr.ap-south-1.amazonaws.com/fargate-ecr:latest

      - name: Push Docker Image to ECR
        run: |
          docker push 320866336076.dkr.ecr.ap-south-1.amazonaws.com/fargate-ecr:latest

      - name: Deploy to ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ./ecs-task.json   # <<< FIXED
          service: task1-service
          cluster: task1-fargate-cluster
          wait-for-service-stability: true
